.clan-tag {
    visibility: hidden;
}

.clan-tag:before {
    visibility: visible;
    color: #0cf;
    content: 'WAIFU';
    font-size: 13px;
    font-weight: 200;
    position: fixed;
    top: -2px;
}

:root {
    --baseColor: #00CCFF;
    --baseColorRGB: 0, 204, 255;
    --baseColorVariant: #038FB2;
    --accentColor: #F5C6E2;
    --accentColorRGB: 245, 168, 226;
}

#logo {
    content: url(https://media.discordapp.net/attachments/942855358303584308/943784466634125312/deep-space-waifu-steamgriddb-deep-space-waifu-logo-text-hand-label-number-transparent-png-2673694.png);
    width: 900px;
    height: 160px;
}

#app > div.interface.text-2 > div.background {
    background: url(https://media.discordapp.net/attachments/942855358303584308/943573269909483540/unknown.png?width=754&height=566) no-repeat center center fixed;
    background-size: cover;
}
#app > div.interface.text-2 > div.background > div.pattern-bg,
#app > div.interface.text-2 > div.background > div.bg-radial {
    display: none !important
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 5px #fff, 0 0 5px #f5c6e2, 0 0 5px #f5c6e2, 0 0 5px #f5c6e2, 0 0 6px #f5c6e2, 0 0 7px #f5c6e2, 0 0 8px #f5c6e2;
    }
}

.heads .nickname {
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

.end-modal {
    background: url(https://cdn.discordapp.com/attachments/936819509975732264/943758497005326336/1613568.webp) !important;
}

.left-icons .icon-btn {
    background: transparent;
    border-top: transparent;
    border-bottom: transparent;
    box-shadow: none;
}

.left-icons .icon-btn:hover {
    border-top: transparent !important;
}

.interface.text-2 .play > button {
    position: absolute;
    top: 20px;
    right: 110px;
    background: #0cf !important;
    border: 4px solid #0cf !important;
}

.interface.text-2 .play > button:hover {
    background: #f5c6e2 !important;
    color: white !important;
}

.left-interface .avatar-info {
    display: none;
}

.left-interface .user-info {
    color: #f5c6e2;
    background: #00000080 !Important;
    border: 2px solid #f5c6e2;
}

.left-interface .moneys .money {
    color: #f5c6e2;
    background: #00000080 !Important;
    border: 2px solid #f5c6e2;
}

.interface .nickname:after {
    content: url(https://cdn.discordapp.com/attachments/919511402853580860/943740515969552384/luci.png) !important;
    margin-top: -3%;
    margin-left: 5%;
}
.state {
    position: fixed !important;
    margin: 0% 0% 0% 10%;
    padding-top: 800px;
    transform: rotate(90deg);
}

.left-interface .progress-line {
    ;
    background: #f5c6e2;
}

.left-interface .progress {
    background: #0cf;
}

#play-btn {
    background-color: #96B9D0 !important;
    --hover-color: #A4C3D2 !important;
    --top: #AECBD6 !important;
    --bottom: #038fb2 !important;
}

#app > div.game-interface > div.desktop-game-interface > div.chat.chat-position,
.hp-title {
    display: none !important;
}

.right-icons .icon-btn {
    background: transparent;
    border-top: transparent;
    border-bottom: transparent;
    box-shadow: none;
}
.right-icons .card-cont {
    background: #3b497500;
    border-bottom: #26335b00;
    border-top: #4d5c8b00;
}
#play .select-regionn {
    background-color: #3b497500;
    border: #4d5c8b00;
}
.clans,
.hub-container {}
background: transparent !important;


}

.mobile-fullscreen {
    background: transparent !important;
}

.tabs {
    background: transparent !important;
    border-bottom: none !important;
    box-shadow: none !important;
    border-right: none !important;
}

.active-tab {
    background: transparent !important;
    border-right: none !important;
    border-left: none !important;
}

.tab {
    background: transparent !important;
    border-left: none !important;
    border-right: none !important;
}

.head-text {
    background: transparent !important;
    box-shadow: none !important;
}

.add-friends {
    background: transparent !important;
}

.limit {
    border-left: none !important;
}

.top-bar,
.close,
.home,
.name-page {
    display: none !important;
}

.container {
    background: transparent !important;
    backdrop-filter: blur(5px);
    box-shadow: none !important;
}

.champions-list {
    box-shadow: none !important;
}

.reset-time,
.info-awards,
.news {
    background: transparent !important;
    box-shadow: none !important;
}

.top-items {
    background: transparent !important;
}

.list-cont {
    background: transparent !important;
    box-shadow: none !important;
}

.tab-bar {
    background: transparent !important;
}

.subjects {
    background: transparent !important;
    border: none !important;
}

.subject {
    background: transparent !important;
}

.inventory .avatar {
    background: transparent !important;
}

.gun {
    background: transparent !important;
    border: none !important;
}

.inventory .bottom {
    background: transparent !important;
}
.live-streams {
    opacity: 0;
    transition-duration: 0.5s;
}

.live-streams:hover {
    opacity: 1;
}
.left-icons .icon-btn svg,
.left-icons .icon-btn .text-icon {
    display: none;
}

.left-icons .icon-btn {
    background: transparent;
    border-top: none;
    border-bottom: none;
    width: 60px;
    height: 60px;
    border-radius: 0px;
}

.left-icons .icon-btn:hover {
    border-top: none;
}

.left-icons .icon-btn:nth-child(1) {
    content: url(https://media.discordapp.net/attachments/942855358303584308/943594295590551562/hub.png?width=415&height=415);
}

.left-icons #icon-store {
    content: url(https://media.discordapp.net/attachments/942855358303584308/943594101603991632/shop.png?width=415&height=415);
}

.left-icons .icon-btn:nth-child(3) {
    content: url(https://media.discordapp.net/attachments/942855358303584308/943594663116427324/SERVERS.png?width=415&height=415);
}

.left-icons .icon-btn:nth-child(4) {
    content: url(linkhere);
}

.left-icons .icon-btn[style="--i:5;"] {
    content: url(linkhere);
}
.custom-checkbox > span[data-v-47e1b746]:before {
    border-radius: 50px;
    background-color: #000;
    border: none;
}

.custom-checkbox > input:checked + span[data-v-47e1b746]:before {
    background-color: #ffb0f7;
}

... (86 lines left)